
    <script type='text/javascript' src='_result.js'></script>
    <script>
        document.getElementsByTagName('body')[0].ondblclick = showBuyingSection;
        
        function showBuyingSection() {
            var ele = document.querySelectorAll('[id ^= \"buyingSection\"]');
            Array.prototype.forEach.call(ele, revealElement);
        }
    </script>
    <script type="text/javascript"> // Hover Chart
        function showChart(timeSpan) { // function is ALLMOST!!! redundant in result html and detail html file! (template\_result.js)
            //console.log('indexPart12.html: showChart');            
            var elementSpanToReplace = document.getElementById('imgToReplace');
            elementSpanToReplace.style.display = 'block';
            elementSpanToReplace.src = elementSpanToReplace.src + '&TIME_SPAN=' + timeSpan; // Concat is not clean, but works!  
        }    
        function hideChart() { // function is ALLMOST!!! redundant in result html and detail html file! (template\_result.js)
           // console.log('indexPart12.html: hideChart'); 
            var elementSpanToReplace = document.getElementById('imgToReplace');
            elementSpanToReplace.style.display = 'none';
        }
    </script>    
    <br>
    <br>

    <div id='buyingSectionButtonDetailsP' style='display: none'>
        <button id="buyingSectionButtonSell" style='font-size:large; height: 50px; width: 80px; display: none' type="button" onClick="javascript:curlSell(
            document.getElementsByTagName('TITLE')[0].text,
            '', document.getElementById('buyingSectionInputPriceBuy').value)">Sell</button>
        <button id="buyingSectionButtonBuy" style='font-size:large; height: 50px; width: 80px; display: none' type="button" onClick="javascript:curlBuy(
            trimOwnChar(document.getElementsByTagName('TITLE')[0].text),
            document.getElementById('buyingSectionInputPriceBuy').value, document.getElementById('buyingSectionInputPiecesBuy').value)">ReBuy</button>
        Pieces&nbsp;<input name='buyingSectionInputPiecesBuy' id='buyingSectionInputPiecesBuy' style='display: none; height: 45px;' type='text' maxlength='7' value='' size='5'/>
        Price&nbsp;<input name='buyingSectionInputPriceBuy' id='buyingSectionInputPriceBuy' style='display: none; height: 45px;' type='text' maxlength='7' value='' size='5'/>
    </div>

</div>
</body>
</html>