
<!--
<div id="divCanvasIdQuote" style="width:107%;margin-left:-140px;margin-top:-20px;">    
    <canvas id="canvasQuote"></canvas>
</div>

<div id="divCanvasIdStochastik" style="width:107%;margin-left:-140px;margin-top:-15px;">
    <canvas id="canvasStochastik"></canvas>
</div>

<div id="divCanvasIdRSI" style="width:107%;margin-left:-140px;margin-top:-15px;">
    <canvas id="canvasRSI"></canvas>
</div>

<div id="divCanvasIdMACD" style="width:107%;margin-left:-140px;margin-top:-15px;margin-bottom:-15px;">
    <canvas id="canvasMACD"></canvas>
</div>

<script>
    const divCanvasIds = document.querySelectorAll('[id ^= \"divCanvasId\"]');
    // isMobil
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        for (var i = 0; i < divCanvasIds.length; i++) {
            divCanvasIds[i].style.marginLeft = '-80px';
            // console.log('xxxxxxxxxxxxx document.getElementById(divCanvasQuoteId).style.marginLeft:', divCanvasIds[i].style.marginLeft);
        }        
    }
 
    var config = {
        type: 'line',
        data: { // X_AXIS_UNDERNEATH_TO_BE_REPLACED
            labels: [
--> 

<div id="divCanvasIdQuote" style="width:107%;margin-left:-140px;margin-top:-100px;">    
    <canvas id="canvasQuote"></canvas>
</div>

<div id="divCanvasIdStochastik" style="width:107%;margin-left:-140px;margin-top:-20px;">
    <canvas id="canvasStochastik"></canvas>
</div>

<div id="divCanvasIdRSI" style="width:107%;margin-left:-140px;margin-top:-20px;">
    <canvas id="canvasRSI"></canvas>
</div>

<div id="divCanvasIdMACD" style="width:107%;margin-left:-140px;margin-top:-20px;margin-bottom:-20px;">
    <canvas id="canvasMACD"></canvas>
</div>

<script>
    const divCanvasIds = document.querySelectorAll('[id ^= \"divCanvasId\"]');
    // isMobil
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        for (var i = 0; i < divCanvasIds.length; i++) {
            divCanvasIds[i].style.marginLeft = '-80px';
            // console.log('xxxxxxxxxxxxx document.getElementById(divCanvasQuoteId).style.marginLeft:', divCanvasIds[i].style.marginLeft);
        }        
    }
 
    var config = {
        type: 'line',
        data: { // X_AXIS_UNDERNEATH_TO_BE_REPLACED
            labels: [