

    <script>
        document.getElementsByTagName('body')[0].ondblclick = showBuyingSection; 
        function showBuyingSection() {   
            const ele = document.querySelectorAll('[id ^= \"buyingSection\"]');
            Array.prototype.forEach.call(ele, function(ele) {
                ele.style.display = '';

                var title=document.getElementsByTagName('TITLE')[0].text;
                if (title.charAt(0) === '*') {
                    title = trimOwnChar(title);
                }
                navigator.clipboard.writeText(title);
                document.getElementById('buyingSectionInputPiecesBuy').focus(); var scrollingElement = (document.scrollingElement || document.body);scrollingElement.scrollTop = scrollingElement.scrollHeight;
            });
        }
    </script>

    <div id='buyingSectionButtonDetailsP' style='display: none'>
        <form><button id="buyingSectionButtonSell" style='font-size:large; height: 50px; width: 80px; display: none' type="button" onClick="javascript:curlSell(
            document.getElementsByTagName('TITLE')[0].text,
            '?',
            document.getElementById('buyingSectionInputPriceBuy').value)">Sell</button>
        <button id="buyingSectionButtonBuy" style='font-size:large; height: 50px; width: 80px; display: none' type="button" onClick="javascript:curlBuy(
            trimOwnChar(document.getElementsByTagName('TITLE')[0].text),
            document.getElementById('buyingSectionInputPriceBuy').value,
            document.getElementById('buyingSectionInputPiecesBuy').value)">ReBuy</button>
        Pieces&nbsp;<input tabindex='1' autofocus name='buyingSectionInputPiecesBuy' id='buyingSectionInputPiecesBuy' style='display: none; height: 45px;' type='text' maxlength='7' value='' size='5'/>
        Price&nbsp;<input tabindex='2' name='buyingSectionInputPriceBuy' id='buyingSectionInputPriceBuy' style='display: none; height: 45px;' type='text' maxlength='7' value='' size='5'/></form>
    </div>
    <br>
    <br>
</div>
<script>
