		           ]},
					{
								label: '91',
								fill: false,
								backgroundColor: window.chartColors.gray,
								borderColor: window.chartColors.gray,
								data: [91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91, 91
		           ]},
					{
								label: '9',
								fill: false,
								backgroundColor: window.chartColors.gray,
								borderColor: window.chartColors.gray,
								data: [9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9 
		           ]}		
			]},
			options: {
				responsive: true,
				maintainAspectRatio: false,
                aspectRatio: 1.5,
				plugins: {
					title: {
						display: false,
						text: 'Chart.js Line Chart'
					},
					legend: {
                        display: false
                    },
					tooltip: {
                        enabled: false,
						mode: 'index',
						intersect: false,
					}
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					x: {
						display: true,
						scaleLabel: {
							display: false,
							labelString: 'Month'
						}
					},
					y: {
						display: true,
						scaleLabel: {
							display: false,
							labelString: 'Value'
						}
					}
				}
			}
		};

		var configRSI = {
			type: 'line',
			data: {
				labels: [