		                       ],
					}


					
			]
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
                aspectRatio: 1.5,
				plugins: {
					title: {
						display: true,
						text: 'Chart.js Line Chart'
					},
					tooltip: {
						mode: 'index',
						intersect: false,
					}
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					x: {
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Month'
						}
					},
					y: {
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Value'
						}
					}
				}
			}
		};

        var ctxQuote = document.getElementById('canvasQuote').getContext('2d')
		myLineQuote = new Chart(ctxQuote, config);

		var ctxStochastik = document.getElementById('canvasStochastik').getContext('2d');	
        myLineStochastik = new Chart(ctxStochastik, configStochastik);
		
        var ctxRSI = document.getElementById('canvasRSI').getContext('2d');
        myLineRSI = new Chart(ctxRSI, configRSI);
    
        var ctxMACD = document.getElementById('canvasMACD').getContext('2d');
        myLineMACD = new Chart(ctxMACD, configMACD);        
	</script>